
<section class="mo-content">
    <div class="row">
        <div class="large-8 medium-8 medium-potrait-12 mo-tablet pbottom columns">
            <article class="with-media mo-tablet-blog">
                <div class="blog-media mo-animate" data-animate="fadeInDown">
                    <ul class="blog-slide">
                        <li><img src="img/sample/blog_slide1.jpg" alt=""/></li>
                        <li><img src="img/sample/blog_slide2.jpg" alt=""/></li>
                        <li><img src="img/sample/blog_slide3.jpg" alt=""/></li>
                    </ul>
                </div>
                <ul class="post-info no-bullet mo-animate" data-animate="fadeInLeft">
                    <li class="date">24<span class="month"><br/>March</span></li>
                    <li><span class="title">Author</span><br/><a href="#">Jonas Jensen</a></li>
                    <li><span class="title">Comments</span><br/><a href="#">4 Comments</a></li>
                    <li><span class="title">Category</span><br/><a href="#">Free Resources</a></li>
                </ul>
                <div class="post-content mo-animate" data-animate="fadeInDown">
                    <a href="single.html"><h3>Example of image gallery post</h3></a>
                    <p>
                        Neque porro quisquam qui dolorem ipsum quia dolor amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt et dolore magnam aliquam quaerat voluptatem itaque earum rerum hic tenetur sapiente delectus aut reiciendis voluptatibus maiores consequatur.
                    </p>
                    <a href="#" class="button small bluex ">Read more <i class="icon-circleright"></i></a>
                </div>
            </article>

            <article class="with-media mo-tablet-blog">
                <div class="blog-video mo-animate" data-animate="fadeInDown">
                    <iframe src="//player.vimeo.com/video/92688138?title=0&amp;byline=0&amp;color=fed019"></iframe>
                </div>
                <ul class="post-info no-bullet mo-animate" data-animate="fadeInLeft">
                    <li class="date">17<span class="month"><br/>March</span></li>
                    <li><span class="title">Author</span><br/><a href="#">Jonas Jensen</a></li>
                    <li><span class="title">Comments</span><br/><a href="#">4 Comments</a></li>
                    <li><span class="title">Category</span><br/><a href="#">Free Resources</a></li>
                </ul>
                <div class="post-content mo-animate" data-animate="fadeInDown">
                    <a href="single.html"><h3>Example of Vimeo Video Post</h3></a>
                    <p>
                        Neque porro quisquam qui dolorem ipsum quia dolor amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt et dolore magnam aliquam quaerat voluptatem itaque earum rerum hic tenetur sapiente delectus aut reiciendis voluptatibus maiores consequatur.
                    </p>
                    <a href="#" class="button small bluex">Read more <i class="icon-circleright"></i></a>
                </div>
            </article>

            <article class="mo-tablet-blog">
                <ul class="post-info no-bullet mo-animate" data-animate="fadeInLeft">
                    <li class="date">5<span class="month"><br/>March</span></li>
                    <li><span class="title">Author</span><br/><a href="#">Jonas Jensen</a></li>
                    <li><span class="title">Comments</span><br/><a href="#">4 Comments</a></li>
                    <li><span class="title">Category</span><br/><a href="#">Free Resources</a></li>
                </ul>
                <div class="post-content mo-animate" data-animate="fadeInDown">
                    <blockquote>
                        <p>
                            Whatever the mind of man can conceive and believe, it can achieve. Thoughts are things! And powerful things at that, when mixed with definiteness of purpose, and burning desire, can be translated into riches.
                        </p>
                    </blockquote>

                    <a href="single.html"><h3>Example of Amazing Quote Post</h3></a>
                    <p>
                        Neque porro quisquam qui dolorem ipsum quia dolor amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt et dolore magnam aliquam quaerat voluptatem itaque earum rerum hic tenetur sapiente delectus aut reiciendis voluptatibus maiores consequatur.
                    </p>
                    <a href="#" class="button small bluex">Read more <i class="icon-circleright"></i></a>
                </div>
            </article>

            <article class="mo-tablet-blog">
                <ul class="post-info no-bullet mo-animate" data-animate="fadeInLeft">
                    <li class="date">30<span class="month"><br/>April</span></li>
                    <li><span class="title">Author</span><br/><a href="#">Jonas Jensen</a></li>
                    <li><span class="title">Comments</span><br/><a href="#">4 Comments</a></li>
                    <li><span class="title">Category</span><br/><a href="#">Free Resources</a></li>
                </ul>
                <div class="post-content mo-animate" data-animate="fadeInDown">
                    <div class="mo-media audio">
                        <audio controls>
                            <source src="media/kolintang.mp3">
                            <source src="media/kolintang.ogg">
                            <source src="media/kolintang.wav">
                        </audio>
                    </div>

                    <a href="single.html"><h3>Example of Great Audio Post</h3></a>
                    <p>
                        Neque porro quisquam qui dolorem ipsum quia dolor amet consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt et dolore magnam aliquam quaerat voluptatem itaque earum rerum hic tenetur sapiente delectus aut reiciendis voluptatibus maiores consequatur.
                    </p>
                    <a href="#" class="button small bluex">Read more <i class="icon-circleright"></i></a>
                </div>
            </article>

            <ul class="pagination mo-animate" data-animate="fadeInLeft">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">»</a></li>
            </ul>
        </div>

        <div class="large-4 medium-4 medium-potrait-12 columns">
            <aside class="mo-animate" data-animate="fadeInRight">
                <div class="panel fold text-center">
                    <div class="widget-author">
                        <img src="img/sample/team7.jpg" alt="" />
                    </div>
                    <h4>John Doe</h4>
                    <hr/>
                    <p>A graphics designer, a web developer, a boyfriend, a friend, a son, a legend.</p>
                </div>
            </aside>

            <aside class="mo-animate" data-animate="fadeInRight">
                <h3 class="title-line"><span>Categories</span></h3>
                <ul class="list-type38">
                    <li><a href="#">National News</a></li>
                    <li><a href="#">World of Sport</a></li>
                    <li><a href="#">Travel &amp; Accomodation</a></li>
                    <li><a href="#">Technology News</a></li>
                    <li><a href="#">Entertainment</a></li>
                </ul>
            </aside>

            <aside class="mo-animate" data-animate="fadeInRight">
                <h3 class="title-line"><span>Popular</span></h3>
                <ul class="popular-list">
                    <li>
                        <img src="img/sample/blog_img1.jpg" alt="" />
                        <p class="popular-title"><a href="single.html">Example of Gallery Post</a></p>
                        <p class="popular-count"><a href="single.html">27 Comments</a></p>
                    </li>
                    <li>
                        <img src="img/sample/blog_img2.jpg" alt="" />
                        <p class="popular-title"><a href="single.html">Example of Video Post</a></p>
                        <p class="popular-count"><a href="single.html">13 Comments</a></p>
                    </li>
                    <li>
                        <img src="img/sample/blog_img3.jpg" alt="" />
                        <p class="popular-title"><a href="single.html">Example of Standard Post</a></p>
                        <p class="popular-count"><a href="single.html">5 Comments</a></p>
                    </li>
                </ul>
            </aside>

            <aside class="mo-animate" data-animate="fadeInRight">
                <h3 class="title-line"><span>Archives</span></h3>
                <ul class="list-type38">
                    <li><a href="#">Januari 2020</a> <span class="label blue archive-count">6</span></li>
                    <li><a href="#">December 2019</a> <span class="label blue archive-count">4</span></li>
                    <li><a href="#">November 2019</a> <span class="label blue archive-count">8</span></li>
                    <li><a href="#">October 2019</a> <span class="label blue archive-count">3</span></li>
                </ul>
            </aside>

            <aside class="mo-animate" data-animate="fadeInRight">
                <h3 class="title-line"><span>Tag</span></h3>
                <div class="tag-cloud">
                    <a href="#">Themeforest</a>
                    <a href="#">Flat design</a>
                    <a href="#">Responsive</a>
                    <a href="#">Retina ready</a>
                    <a href="#">HTML 5</a>
                    <a href="#">CSS 3</a>
                    <a href="#">jQuery</a>
                    <a href="#">Wordpress</a>
                    <a href="#">Creative</a>
                    <a href="#">Keren</a>
                </div>
            </aside>
        </div>
    </div>
</section>


