<section class="mo-content">
    <div class="row">
        <div class="large-12 columns">
            <ul class="masonry">
                <li class="block-size var1 page-link1 mo-animate" data-animate="bounceIn">
                    <div id="icon-slide" class="owl-carousel">
                        <div><i class="icon-layersthree"></i></div>
                        <div><i class="icon-useralt"></i></div>
                        <div><i class="icon-map"></i></div>
                    </div>
                </li>

                <li class="block-size var4 page-link2 mo-animate" data-animate="bounceIn" data-delay="400">
                    <div id="text-slide" class="owl-carousel">
                        <div><h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2></div>
                        <div><h2>Aenean bibendum lorem in gravida cursus. Aliquam et erat lobortis.</h2></div>
                        <div><h2>Neque porro quisquam est qui dolorem ipsum quia dolor amet, adipisci velit.</h2></div>
                    </div>
                </li>

                <li class="block-size var1 page-link2 mo-animate" data-animate="bounceIn" data-delay="800">
                    <div id="text-slide2" class="owl-carousel">
                        <div><h4>Design &amp; UX</h4><p>We deliver intelligent full builds for adventurous brands.</p></div>
                        <div><h4>Marketing</h4><p>Occaecat cupidatat non proident suntin culpa qui officia.</p></div>
                        <div><h4>Analytics</h4><p>Modi tempora incidunt labore dolore magnam aliquam.</p></div>
                    </div>
                </li>

                <li class="block-size var1 mo-animate" data-animate="bounceIn">
                    <div id="img-slide" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img1.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img1b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img1c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>

                <li class="block-size var1 mo-animate" data-animate="bounceIn" data-delay="400">
                    <div id="img-slide2" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img2.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img2b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img2c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>

                <li class="block-size var4 mo-animate" data-animate="bounceIn" data-delay="800">
                    <div id="img-slide3" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img3.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img3b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img3c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>

                <li class="block-size var1 mo-animate" data-animate="bounceIn">
                    <div id="img-slide4" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img4.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img4b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img4c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>

                <li class="block-size var1 mo-animate" data-animate="bounceIn" data-delay="400">
                    <div id="img-slide5" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img5.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img5b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img5c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>

                <li class="block-size var1 mo-animate" data-animate="bounceIn" data-delay="800">
                    <div id="img-slide6" class="owl-carousel">
                        <div><img src="../assets/img/slide/slide-img6.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img6b.jpg" alt="" /></div>
                        <div><img src="../assets/img/slide/slide-img6c.jpg" alt="" /></div>
                    </div>
                    <div class="slidecnt-wrap"></div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="mo-content">
    <div class="row">
        <div class="large-6 columns">
            <h2 class="mo-animate" data-animate="fadeInLeft">Standard &amp; Flutter.</h2>
            <p class="mo-animate" data-animate="fadeInLeft" data-delay="400">
                Lorem ipsum dolor sit amet consectetur adipisicing elit sedo eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi aliquip commodo consequat dolore eu fugiat nulla pariatur.
            </p>
            <p class="mo-animate" data-animate="fadeInLeft" data-delay="800">
                Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
            <a href="#" class="button bluex mo-animate" data-animate="fadeInLeft" data-delay="1000">
                Leia mais... <i class="icon-circleright"></i>
            </a>
        </div>
        <div class="large-6 columns">
            <div class="feature-left mo-animate" data-animate="fadeInDown">
                <div class="square-shape small style3 blue">
                    <i class="icon-warmedal"></i>
                </div>
                <h5 class="gap" data-top="20" data-bottom="12">Weighted Shortest Job First </h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="feature-left mo-animate" data-animate="fadeInDown" data-delay="400">
                <div class="square-shape small style3 blue">
                    <i class="icon-trafficlight"></i>
                </div>
                <h5 class="gap" data-top="35" data-bottom="12">Weighted Shortest Job First.</h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>

            <div class="feature-left mo-animate" data-animate="fadeInDown" data-delay="800">
                <div class="square-shape small style3 blue">
                    <i class="icon-microphonealt"></i>
                </div>
                <h5 class="gap" data-top="35" data-bottom="12">Weighted Shortest Job First.</h5>
                <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
            </div>
        </div>
    </div>
</section>

<section class="mo-content">
    <div class="row">
        <div class="large-12 columns">
            <hr/>
        </div>
    </div>
</section>

<section class="mo-content">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="gap mo-animate" data-animate="fadeInLeft" data-bottom="5">Lorem ipsum</h2>
            <p class="mo-animate" data-animate="fadeInLeft">
                Excepteur sint occaecat cupidatat non proident sunt in culpa.
            </p>

            <ul class="large-block-grid-3 medium-block-grid-2 small-block-grid-1 no-wrap blog-masonry">
                <li class="mo-animate" data-animate="fadeInLeft">
                    <div class="blog-columns">
                        <div class="blog-media1">
                            <div id="blog-slide" class="owl-carousel">
                                <div><img src="img/sample/blog-img1.jpg" alt=""></div>
                                <div><img src="img/sample/blog-img2.jpg" alt=""></div>
                                <div><img src="img/sample/blog-img3.jpg" alt=""></div>
                            </div>
                        </div>
                        <div class="blog-content1">
                            <p class="blog-date"><a href="#">Transportation</a> / 14/11/2019</p>
                            <p><a href="#">Excepteur sint occaecat cupidatat non proident suntculpa officia</a></p>
                            <div class="blog-info">
                                <div class="post-type">
                                    <i class="icon-picture"></i>
                                </div>
                                <div class="comment-count">
                                    <i class="icon-comment"></i>
                                    <a href="#">22</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="mo-animate" data-animate="fadeInLeft" data-delay="200">
                    <div class="blog-columns">
                        <div class="blog-media2">
                            <div id="instafeed"></div>
                        </div>
                        <div class="blog-content2">
                            <p class="blog-date"><a href="#">Holiday</a> / 15/11/2019</p>
                            <p><a href="#">Perspiciatis unde omnis isteri [...]</a></p>
                            <div class="blog-info">
                                <div class="post-type">
                                    <i class="icon-instagram"></i>
                                </div>
                                <div class="comment-count">
                                    <i class="icon-comment"></i>
                                    <a href="#">4</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="mo-animate" data-animate="fadeInLeft" data-delay="400">
                    <div class="blog-columns">
                        <div class="blog-content3">
                            <p class="blog-date"><a href="#">Inspire</a> / 14/11/2019</p>
                            <p><a href="#">Whatever the mind of man can conceive and believe, it can achieve. Thoughts [...]</a></p>
                            <div class="blog-info">
                                <div class="post-type">
                                    <i class="icon-quoteup"></i>
                                </div>
                                <div class="comment-count">
                                    <i class="icon-comment"></i>
                                    <a href="#">8</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="mo-animate" data-animate="fadeInRight" data-delay="800">
                    <div class="blog-columns">
                        <div class="blog-content3">
                            <p class="blog-date"><a href="#">Hapinnes</a> / 14/11/2019</p>
                            <p><a href="#">Quis autem reprehenderit voluptate</a></p>
                            <div class="mo-media audio">
                                <audio controls>
                                    <source src="media/kolintang.mp3">
                                    <source src="media/kolintang.ogg">
                                    <source src="media/kolintang.wav">
                                </audio>
                            </div>
                            <div class="blog-info">
                                <div class="post-type">
                                    <i class="icon-volume-up"></i>
                                </div>
                                <div class="comment-count">
                                    <i class="icon-comment"></i>
                                    <a href="#">19</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="mo-animate" data-animate="fadeInRight" data-delay="600">
                    <div class="blog-columns">
                        <div class="blog-media2">
                            <img src="img/sample/video-cover.jpg" alt="">
                            <a class="video-play fancybox-media" href="http://vimeo.com/93094247">
                                <i class="icon-play"></i>
                            </a>
                        </div>
                        <div class="blog-content2">
                            <p class="blog-date"><a href="#">Anime</a> / 1
                                4/11/2019</p>
                            <p><a href="#">Temporisi autem quibusdam [...]</a></p>
                            <div class="blog-info">
                                <div class="post-type">
                                    <i class="icon-film"></i>
                                </div>
                                <div class="comment-count">
                                    <i class="icon-comment"></i>
                                    <a href="#">3</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
