
<section class="mo-content">
    <div class="row">
        <div class="large-12 columns">
            <ul id="pagetitle">
                <li class="pagetitle-left mo-animate" data-animate="bounceIn">
                    <i class="icon-settingsthree-gears"></i>
                </li>

                <li class="pagetitle-right mo-animate" data-animate="fadeInLeft">
                    <h2>Our Services</h2>
                    <p>We deliver intelligent full builds for adventurous brands.</p>

                    <div class="breadcrumb">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Pages</a></li>
                            <li class="current-page"><a href="#">Services</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="mo-content">
    <div class="row">
        <div class="large-12 columns text-center">
            <h2 class="mo-animate" data-animate="bounceIn">The complete package.</h2>
            <p class="lead mo-animate" data-animate="fadeInDown">Magna aliqua enim ad minim veniam quis nostrud exercitation dolores eos qui ratione voluptatem ullamco laboris nisi aliquip commodo consequat dolore eu fugiat nulla pariaturint molestiae.</p>
        </div>
        <div class="large-12 columns">
            <ul class="large-block-grid-5 medium-block-grid-5 medium-block-grid-potrait-2 no-gutter services-list">
                <li class="mo-animate" data-animate="fadeInLeft">
                    <i class="icon-insertbarchart"></i>
                    <h5>Strategy</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInLeft" data-delay="150">
                    <i class="icon-lightbulb-idea"></i>
                    <h5>Design &amp; UX</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInLeft" data-delay="300">
                    <i class="icon-htmlfive"></i>
                    <h5>Technology</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInLeft" data-delay="450">
                    <i class="icon-findfriends"></i>
                    <h5>Social</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInLeft" data-delay="600">
                    <i class="icon-iphone"></i>
                    <h5>Mobile</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInRight" data-delay="1350">
                    <i class="icon-qrcode"></i>
                    <h5>Innovation</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInRight" data-delay="1200">
                    <i class="icon-facetime-video"></i>
                    <h5>Motion</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInRight" data-delay="1050">
                    <i class="icon-wizard"></i>
                    <h5>Marketing</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInRight" data-delay="900">
                    <i class="icon-insertpictureleft"></i>
                    <h5>Content</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
                <li class="mo-animate" data-animate="fadeInRight" data-delay="750">
                    <i class="icon-resistor"></i>
                    <h5>Analytics</h5>
                    <p>Avero eos accusamus iusto odio dignissimos ducimus blanditiis labore</p>
                </li>
            </ul>
        </div>
    </div>
</section>
